#live-key, #live, #dialog-message-capture-info{
    display: none;
}   
.live-on{
    color: #e14240;
}
.live-stream{
    margin-top: 200px;        
} 
#key{
    text-transform: uppercase;
    text-align: center;
} 

.capture_info_table table, .capture_info_table td, .capture_info_table th {    
    border: 1px solid #ddd;
    text-align: left;
}

.capture_info_table table {
    border-collapse: collapse;
    width: 100%;
}

.capture_info_table th, .capture_info_table td {
    padding: 5px;
}

.remove-button-shift{
    color: red;
    position:absolute; 
    margin-top: 3px; 
    margin-left: 20px;
}