a:hover, a:active, a:focus, .btn, .btn:active, .btn:hover, .btn:focus   {
  outline: 0;
}
.container{
/*   max-width: 825px;*/
}
.shifts-picker{
    margin-top: 50px;
    text-align: center;
}
.table-shifts-{
    /*max-height: 450px !important;*/
    overflow-y: scroll;
}
.table-captures-{
    /*max-height: 450px !important;*/
    overflow-y: scroll;
}
td,th{
    text-align: center;
}
caption{
    font-size: 30px; 
}
.label-danger {
    background-color: rgba(152, 0, 0, 0.4);
}
.label-primary{
    background-color:  rgba(0, 87, 161, 0.6);
}
.label-success{
    background-color: rgba(0, 153, 0, 0.4);
}
#label-1{
    font-size: 30px;     
}
#select-shift, .table-shifts, .table-captures{
    display: none;
}
#selected-shift{
    display: none;
}
.footer-msg{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    text-align: right;
    background-color: rgba(0,0,0,0.7);
    color: white;
}
.automatization{
    display: none;    
}
.intro{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
.select-feel{
    background-color: white;
    border: 1px solid;
    border-color: lightgrey;
}
.select-feel tbody tr{
    cursor: pointer;
}
/*.select-feel tbody tr:hover{
    background-color: #fcf8e3;
}*/
.row-selected{
    background-color: orange;
}

.row-selected:hover{
    background-color: orange;
}
