.container{
/*   max-width: 825px;*/
}
.shifts-picker{
    margin-top: 50px;
    text-align: center;
}
.table-shifts-{
    max-height: 450px !important;
    overflow-y: scroll;
}
.table-captures-{
    max-height: 450px !important;
    overflow-y: scroll;
}
td,th{
    text-align: center;
}
caption{
    font-size: 30px; 
}
.label-danger {
    background-color: #d9534f1a;
}
.label-primary{
    background-color: #337ab74d;
}
#label-1{
    font-size: 30px;     
}
#select-shift{
    display: none;
}
#selected-shift{
    display: none;
}